/**
 Sego Presentation Styling
**/

$ss_blue: #527c97;

.sego-logo {
   position: absolute;
   bottom: 1em;
   left: 2em;
}

.reveal section img.no-style-image {
  background: none;
  border: none;
  box-shadow: none;
}

.spin-code {
  float: right;

  blockquote {
    color: white;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 1.7em;
    background: $ss_blue;
    padding: 10px;
  }
}

.stack-starter {
  float: left;

  blockquote {
    color: white;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 1.7em;
  }
}

